/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#0f172a;
  color:white;
  line-height:1.6;
}

/* NAVBAR */
.navbar{
  position:fixed;
  top:0;
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 8%;
  background:rgba(0,0,0,0.4);
  backdrop-filter:blur(4px);
  z-index:1000;
}

.logo{
  font-size:24px;
  font-weight:bold;
  color:white;
}

.nav-links{
  display:flex;
  list-style:none;
  gap:40px;
}

.nav-links a{
  text-decoration:none;
  color:white;
  font-size:18px;
  transition:0.3s;
}

.nav-links a:hover{
  color:#38bdf8;
}

/* HERO */
.hero{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  position:relative;
}

.overlay{
  position:absolute;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.6);
}

.hero-content{
  position:relative;
  z-index:2;
  padding:20px;
}

.hero-content h1{
  font-size:60px;
  margin-bottom:10px;
}

.hero-content p{
  font-size:22px;
  color:#cbd5e1;
}

/* BUTTON */
.btn{
  display:inline-block;
  margin-top:20px;
  padding:12px 25px;
  background:#38bdf8;
  color:white;
  text-decoration:none;
  border-radius:8px;
  transition:0.3s;
}

.btn:hover{
  background:#0ea5e9;
}

/* SECTION */
section{
  padding:80px 10%;
}

section h2{
  text-align:center;
  margin-bottom:30px;
  color:#38bdf8;
  font-size:36px;
  text-decoration: underline rgb(255, 255, 255);
}

/* ABOUT */
.about-text{
  text-align:center;
  max-width:700px;
  margin:auto;
}

/* FOTO PROFIL */
.profile-img{
  width:180px;
  height:180px;
  object-fit:cover;
  border-radius:50%;
  margin-top:30px;
  border:2px solid #38bdf8;
}

.profile-img:hover{
  transform:scale(1.05);
}

/* CARD */
.card{
  background:#1e293b;
  padding:10px 20px;
  border-radius:15px;
  margin-top:20px;
}

.card:hover{
  transform:scale(1.05);
}

/* EDUCATION */
.education-container{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  text-align: center;
  gap: 20px;  
}

/* EXPERIENCE */
.experience-container{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  text-align: center;
  gap: 20px; 
}



/* PROJECT */
.project-container{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  text-align: center;
  gap:20px;
}

.project-photos{
  width: 280px;
  height: 150px;
}

/* SKILLS */

.skills{
  background:#1e293b;
  padding:25px 30px;
  border-radius:12px;
  box-shadow:0 4px 15px rgba(0,0,0,0.08);
}

.skills-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  cursor:pointer;
}

.left{
  display:flex;
  gap:18px;
  align-items:flex-start;
}

.title{
  font-size:24px;
  font-weight:700;
  color:#ffffff;
  text-align: center;
}

.subtitle{
  margin-top:5px;
  color:#ffffff;
  font-size:16px;
  text-align: center;
}

.subtittle span{
  color:#ffffff;
}

.skills-content{
  max-height:500px;
  margin-top:30px;
}

.skill-top{
  display:flex;
  justify-content:space-between;
  margin-bottom:10px;
  font-size:18px;
  color:#222;
}

.skill-top span{
  color: #ffffff;
}

.bar{
  width:100%;
  height:8px;
  background:#cfd3ff;
  border-radius:20px;
  overflow:hidden;
}

.progress{
  height:100%;
  background:#38bdf8;
  border-radius:20px;
}

.skills-container{
  display:grid;
  justify-content:center;
  gap:15px;
  flex-wrap:wrap;
}

.skill{
  padding:12px 20px;
  border-radius:30px;
}

/* CONTACT */
.contact-text{
  text-align:center;
}

/* FOOTER */
footer{
  text-align:center;
  padding:30px;
  background:#020617;
  color:#94a3b8;
}

/* RESPONSIVE */
@media(max-width:900px){

  .navbar{
    flex-direction:column;
    gap:15px;
  }

  .nav-links{
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
  }

  .hero-content h1{
    font-size:40px;
  }

}